<!DOCTYPE html>
<html>
<head>
    <title>Intimacy Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="welcome-screen">
        <div class="welcome-content">
            <h1>hiii</h1>
            <p>so this whole survey is anonymous except for the first question. it takes 2-15 minutes depending on you. data will be used to inform the author's research practice.</p>
            <button class="start-button" onclick="window.location.href='/survey'">Let's Begin</button>
        </div>
    </div>
</body>
</html> 